<!DOCTYPE html>
<html>
  <head>
    <title>TileSlideGame</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'popper.js' %>
    <%= javascript_include_tag 'bootstrap.min.js' %>
  </body>
</html>
